{% extends 'blog/base.html' %}

{% block section %}
<div class="box">
    <h1 class="is-size-5 has-text-weight-bold">
        <a> {{ post.title }}</a>
    </h1>
    <div class=" is-size-7 has-text-grey-light pt-1 pb-1">
        <span class="mr-3">作者：{{ post.owner }}</span> <span>发布日期：{{ post.add_date }}</span> <span>浏览量：{{ post.pv }}</span>
    </div>
    <div class="content">
        {{ post.content|safe }}
    </div>
    {% if post.owner_id == request.user.id %}
        <span class="is-size-7">
            <a href="{% url 'blog:post_edit' post.id %}">修改</a>
            <a href="{% url 'blog:post_delete' post.id %}">删除</a>
        </span>
    {% endif %}

</div>

<div class="box">
    <div class="level">
        <div class="level-left">
            
            {% if prev_post %}
            <span>上一篇：</span><a href="{% url 'blog:post_detail' prev_post.id %}" class="level-item">{{ prev_post.title }}</a>
            {% else %}
            <span class=" has-text-danger-dark is-size-7">无上一篇</span>
            {% endif %}
        </div>
        <div class="level-right">
            {% if next_post %}
            <span>下一篇：</span><a href="{% url 'blog:post_detail' next_post.id %}" class="level-item">{{ next_post.title }}</a>
            {% else %}
            <span class=" has-text-danger-dark is-size-7">已经是最后一篇</span>
            {% endif %}
        </div>
    </div>
</div>

<div class="box">
    {% if user.is_authenticated %}

        <form action="{% url 'blog:post_comment' post.id %}" method="post">
                {% csrf_token %}
                {{ comment_form.media }}
                {{ comment_form.body }}
                <input type="submit" style="margin-top: 1em" class="button is-link" value="评论">
        </form>
    {% else %}
        <h5 class="row justify-content-center">
            请<a href="{% url 'users:login' %}">登录</a>后回复
        </h5>
    {% endif %}
</div>
<div class="box">
    <h4>共有{{ comments.count }}条评论</h4>
    <div>
        {% for comment in comments %}
            <hr>
            <p>
                <strong style="color: pink">
                    {{ comment.user }}
                </strong> 于
                <span style="color: green">
                    {{ comment.created }}
                </span> 评论：
                {% if comment.user_id == request.user.id %}
                    <span class="is-size-7">
                        <a href="{% url 'blog:comment_delete' comment.id %}">删除</a>
                    </span>
                {% else %}
                    {% if post.owner_id == request.user.id %}
                    <span class="is-size-7">
                        <a href="{% url 'blog:comment_delete' comment.id %}">删除</a>
                    </span>
                    {% endif %}
                {% endif %}
            </p>
            <div id="comment_elem_{{ comment.id }}">{{ comment.body|safe }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}