{% extends 'blog/base.html' %}

{% block title %}
发布文章
{% endblock %}

{% block body %}
    <h6 class="has-text-centered">发布文章</h6>
    {% if user.is_authenticated %}
        <div class="has-text-centered">
            <form class=action="{% url 'blog:post_release' %}" method="post">
                {% csrf_token %}
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="{{ form.title.id_for_label }}" class="label">{{ form.title.label }}</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                             {{ form.title }}
                          </div>
                        </div>
                      </div>
                  </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="{{ form.desc.id_for_label }}" class="label">{{ form.desc.label }}</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                             {{ form.desc }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="{{ form.content.id_for_label }}" class="label">{{ form.content.label }}</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                              {{ form.media }}
                                {{ form.content }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label for="{{ form.category.id_for_label }}" class="label">{{ form.category.label }}</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                             {{ form.category }}
                          </div>
                        </div>
                      </div>
                    </div>
                <input type="submit" style="margin-top: 1em" class="button is-link" value="发表">
            </form>
        </div>
    {% else %}
        <h5 class="row justify-content-center">
            请<a href="{% url 'users:login' %}">登录</a>后发表
        </h5>
    {% endif %}

{% endblock %}