{% extends 'blog/base.html' %}

{% block title %}
用户登录
{% endblock %}
{% block head %}
    <style type="text/css">
        .content {
            position: absolute;
            /* 垂直居中 */
            top: 0;
            bottom: 0;
            height: 90%;
            /* 水平居中 */
            left: 550px;
            right: 550px;
            width: 100%;
            margin: auto;
            {#background-color: red;#}
        }
    </style>
{% endblock %}
{% block body %}
    <div class="content">
        <div class="box column is-4">
            <h1 class=" is-uppercase has-text-centered">博客源
                <br><span class="tag">用户登录</span>
            </h1>
            <hr class="dropdown-divider">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.errors }}
                <div class="filedWrapper">
                    <label for="{{ form.username.id_for_label }}">用户名: </label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="filedWrapper">
                    <label for="{{ form.password.id_for_label }}">密码 : </label>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <a class="is-pulled-right is-size-7" href="{% url 'users:forget_pwd' %}">忘记密码</a>
                <div class="is-clearfix"></div>
                <div class="has-text-centered">
                    <input type="submit" style="margin-top: 1em" class="button is-link" value="登  录">
                </div>
            </form>
        </div>
    </div>

{% endblock  %}
{% block footer %}
{% endblock %}