{% extends 'blog/base.html' %}

{% block head %}
用户登录
{% endblock head %}
{% block body %}
    <div class="box">
        <h1 class=" is-uppercase has-text-centered has text-weight-bold">博客
            <br><span class="tag">用户登录</span>
        </h1>
        <hr class="dropdown-divider">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.errors }}
            <a class="is-pulled-right is-size-7" href="{% url 'users:forget_pwd' %}">忘记密码</a>
            <div class="is-clearfix"></div>
            <div class="has-text-centered">
                <input type="submit" style="margin-top: 1em" class="button is-link" value="登  录">
            </div>
            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}
        </form>
    </div>
{% endblock  %}