{% extends 'blog/base.html' %}
{% block head %}
修改密码
{% endblock head %}

{% block body %}
    <div class="box">
        <h1 class=" is-uppercase has-text-centered has text-weight-bold">博客
            <br><span class="tag">修改密码</span>
        </h1>
        <hr class="dropdown-divider">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.errors }}
            <input type="submit" style="margin-top: 1em" class="button is-link is-fullwidth" value="提  交">
            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}
        </form>
    </div>
{% endblock  %}