{% extends 'blog/base.html' %}
{% block head %}
    用户注册
{% endblock head %}
{% block body %}
    <div class="box">
        <h1 class="is-uppercase has-text-centered has-text-weight-bold">博客
            <br><span class="tag">用户注册</span>
        </h1>
        <hr class="dropdown-divider">
        <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.errors }}
                <div class="has-text-centered">
                    <input type="submit" style="margin-top: 1em" class="button is-link" value="注  册">
                </div>
        </form>
        {% if messages %}
            <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}
            </script>
        {% endif %}
    </div>
{% endblock  %}