{% extends 'blog/base.html' %}

{% block title %}
    {% if user_profile %}
        {{ user_profile.nickName }}的个人空间
    {% else %}
        {{ user.username }}的个人空间
    {% endif %}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-3">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                            {% if is_profile %}
                                {{ user_profile.nickName }}的个人空间
                            {% else %}
                                {{ user.username }}的个人空间
                            {% endif %}
                            </p>
                            <a href="" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content menu">
                            <ul class="content menu-list">
                                <li><a href="{% url 'users:user_profile' user.username %}">个人信息</a></li>
                                {% if request.user.is_authenticated %}
                                    {% if user.id == request.user.id %}
                                        <li><a href="{% url 'users:check_pwd' %}">修改密码</a></li>
                                    {% else %}
                                        {% if user.userprofile %}
                                            {% if user.userprofile.get_gender_display == '男' %}
                                                <li><a href="{% url 'blog:post_list' user.id %}">他发布的</a></li>
                                            {% else %}
                                                <li><a href="{% url 'blog:post_list' user.id %}">她发布的</a></li>
                                            {% endif %}
                                        {% else %}
                                            <li><a href="{% url 'blog:post_list' user.id %}">ta发布的</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if user.userprofile %}
                                        {% if user.userprofile.get_gender_display == '男' %}
                                            <li><a href="{% url 'blog:post_list' user.id %}">他发布的</a></li>
                                        {% else %}
                                            <li><a href="{% url 'blog:post_list' user.id %}">她发布的</a></li>
                                        {% endif %}
                                    {% else %}
                                        <li><a href="{% url 'blog:post_list' user.id %}">ta发布的</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                    <div class="card">
                    {% if user.is_authenticated %}
                        {% if user.id == request.user.id %}
                            <header class="card-header">
                                <p class="card-header-title">内容管理</p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-content menu">
                                <ul class="content menu-list">
                                    <li><a href="{% url 'blog:post_release' %}">添加文章</a></li>
                                    <li><a href="{% url 'blog:post_list' user.id %}">我发布的</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
                <div class="column is-10">
                    <div class="box is-radiusless is-shadowless">

                        <div class="tabs">
                            <ul>
                              <li class="is-active"><a>账号信息</a></li>    {# 替换的地方 #}
                            </ul>
                        </div>

                    {% block content %}
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px; padding-bottom: 1rem">
                        <div class="column is-narrow">
                            <figure class="image is-96x96">

                                {% if user.userprofile.image %}     {# 调用是否存在 #}
                                    <img class="is-rounded" src="{{ MEDIA_URL }}{{ user.userprofile.image }}">
                                    {% else %}
                                    <img class="is-rounded" src="{{ MEDIA_URL }}images/default.png">
                                {% endif %}


                            </figure>
                        </div>
                        <div class="column is-narrow">
                            <div style="padding-top: 1.5rem;">

                                {% if user.userprofile.nickName %}
                                    <h1 class="title is-size-4">{{ user.userprofile.nickName }}</h1>
                                    {% else %}
                                    <h1 class="title is-size-4">{{ user.username }}</h1>
                                {% endif %}


                                {% if user.userprofile.desc %}
                                    <p class="subtitle is-size-6">{{ user.userprofile.desc }}</p>
                                    {% else %}
                                    <p class="subtitle is-size-6">暂未设置个性签名</p>
                                {% endif %}


                            </div>
                        </div>
                        {% if user.is_authenticated %}
                            {% if user.id == request.user.id %}
                                <div class="column is-narrow-mobile">
                                    <a class=" button is-light is-pulled-right" href="{% url 'users:editor_users' %}" style="margin-top: 1.8rem">修改信息</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="columns" style="padding:1rem 0; ">
                        <div class="column is-2">
                            <p>个人信息</p>
                        </div>
                        <div class="column">
                            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                <div class="column is-2">
                                   <span class=" has-text-grey-light">用户名</span>
                                </div>
                                <div class="column is-narrow">
                                    <span class=" has-text-black-ter">{{ user.username }}</span>
                                </div>
                            </div>
                            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                <div class="column is-2">
                                   <span class=" has-text-grey-light">昵称</span>
                                </div>
                                    <div class="column is-narrow">
                                        {% if user.userprofile.nickName %}
                                        <span class=" has-text-black-ter">{{ user.userprofile.nickName }}</span>
                                        {% else %}
                                        <span class=" has-text-black-ter">暂未设置用户昵称</span>
                                        {% endif %}

                                    </div>
                                <!-- <div class="column has-text-right">
                                    <a href="">更改类型</a>
                                </div> -->

                            </div>

                            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                <div class="column is-2">
                                   <span class=" has-text-grey-light">性别</span>
                                </div>
                                <div class="column is-narrow">
                                    {% if user.userprofile %}
                                        <span class=" has-text-black-ter">{{ user.userprofile.get_gender_display }}</span>
                                    {% else %}
                                        <span class=" has-text-black-ter">暂未设置</span>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                <div class="column is-2">
                                   <span class=" has-text-grey-light">邮箱</span>
                                </div>
                                <div class="column is-narrow">
                                    <span class=" has-text-black-ter">{{ user.email }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock  %}
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}