<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>个人中心</title>
    <link rel="stylesheet" href="{% static 'users/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="" class="navbar-item">
                    <img src="{% static 'users/images/login.png' %}" alt="" srcset="">
                </a>
            </div>
        </div>
    </nav>
</body>
</html>